<head>
<style type="text/css">
table, td, th
td
{
vertical-align:middle;
text-align:center;
}
th
{
background-color:#FFFF66;
color:black;
}

</style>
</head>

<table width="1024" border="0">
  <tr>
    <td width="900" height="450" bgcolor="#FFFF66">
	<table width="900" height="450" border="0" align="center" bordercolor="#ABBCD8">
	  <tr>
		<td width="900" height="450" align="center" valign="top" bgcolor="#FFFFFF"><table width="900" height="169" border="0">
          <tr>
            <th scope="col"><p><%= image_tag "chickens.jpg", :width => "900", :height => "169" %></p>
              </th>
          </tr>
        </table>
		  <table width="904" border="1" align="center" bgcolor="#FFFF66" cellpadding=5>
            <tr>
              <th  >Please fill in all fields with your sample data.<br>  Click the CREATE button when you are finished to add the sample into the database and begin the tracking process.<br>
			  Thank you for entering your sample in the NRDPFC DNA databank.<br>  You can check the tracking section to follow your sample through the system.</th>
            </tr>
          </table>
<style type="text/css">
table, td, th
td
{
text-align:left;
}
</style>

<div align="center">          
<% if ENV['RAILS_SITE'] == 'TRACKER' %>
	<h3 style=background-color:yellow><%= link_to 'DEMO Home', menu_path %></h3>
<%else%>
	<h3><%= link_to 'Home', menu_path %></h3>
<%end%>	

<h2><b><font color=red>SUBMIT</font></b> New Sample </h2>
 
	<table width="905" height="395" border="0" align="left" cellspacing="2" cellpadding = "2">
		<tr><th>Name</th><th>Value</th><th>Description</th></tr>
         <tr></tr>
	<% form_for(@sample) do |f| %>
	<tr><td  width="25%"><%= f.label :sample_bc, 'Sample Barcode' %></td><td><%= f.text_field :sample_bc %></td><td>bar code</td></tr>
	<tr><td><%= f.label :date_collected %></td><td><%= f.calendar_date_select :date_collected %></td><td>The date sample was collected - click on calendar</td></tr>
	<tr><td><%= f.label :collected_by, 'Contact Person'%></td><td width = "35%" ><%= f.text_field :collected_by %></td><td width = "40%" > Collected by</td></tr>
	<tr><td><%= f.label :chicken_country, 'Country' %></td><td><%= f.collection_select( :chicken_country , Sample::CO, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Country of Origin</td></tr>
	<tr><td><%= f.label :submitter_comments, 'Strain' %></td><td><%= f.collection_select( :submitter_comments , Sample::ST, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Strain</td></tr>
	<tr><td><%= f.label :collector_comments, 'Package Role' %></td><td><%= f.collection_select( :collector_comments , Sample::PR, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Package Role</td></tr>
	<tr><td><%= f.label :chicken_declared_gender, 'Declared Gender' %></td><td><%= f.collection_select( :chicken_declared_gender , Sample::DG, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Declared Gender</td></tr>
	<tr><td><%= f.label :chicken_meat_part, 'Meat Part' %></td><td><%= f.collection_select( :chicken_meat_part , Sample::MP, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Meat Part</td></tr>
	<tr><td><%= f.label :chicken_feathering, 'Feathering' %></td><td><%= f.collection_select( :chicken_feathering , Sample::FE, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Feathering</td></tr>
	<tr><td><%= f.label :chicken_ml_duplicate, 'Maple Leaf Duplicate' %></td><td><%= f.collection_select( :chicken_ml_duplicate , Sample::YN, :to_s, :to_s, {:include_blank => false, :prompt => true }, {"style" => "width:105px" } ) %></td><td>Maple Leaf Duplicate</td></tr>
	<tr><td><%= f.label :comments, 'Additional Information' %></td><td><%= f.text_field :comments %></td><td>Additional Information</td></tr>

	<%= f.hidden_field :project_id, {:value => 66 } %>
	<%= f.hidden_field :user_id  %>
	<%= f.hidden_field :submitted_by  %>
	<%= f.hidden_field :remote_data_entry, {:value => true} %>

	<% @sample.chicken_meat_part = params[:chicken_meat_part] %>

	<tr><td><%= f.submit "Create" %></td></tr>
<% end %>
</div>
        </tr>
        </table>
