<html>
<%= stylesheet_link_tag "basic" %>

<style type="text/css">

td.empty{color:red;font-weight:bold;}
td.nempty{color:green;font-weight:bold;}

table, td, th
td


{
text-align:left;
vertical-align:middle;
}
</style>

<title>Tracking</title>
<table width="1024" height="800" border="0" bgcolor="#FFFF66">
  <tr>
    <td width="900" height="700" bgcolor="#FFFF66">
	<table width="900" height="500" border="0" align="center" bordercolor="#ABBCD8">
	  <tr><td width="900" height=500" align="center" valign="top" bgcolor="#FFFFFF">
			<table width="900" height="169" border="0">
			<tr><td><h2>NRDPFC Road Runner Sample Submission/Tracking</h2></td></tr>
          <tr>
            <th scope="col"><p><%= image_tag "longrr.jpg", :width => "900", :height => "169" %></p>
              </th>
          </tr>
        </table>


<div align="center">

<% if ENV['RAILS_SITE'] == 'TRACKER' %>
	<h3 style=background-color:yellow><%= link_to 'DEMO Home', menu_path %></h3>
<%else%>
	<h3><%= link_to 'Home', menu_path %></h3>
<%end%>	

<h2>Road Runner Sample <%=@sample.id %> Submitted <%= nice_date_display(@sample.date_submitted) %> by <%= current_user.to_s %></h2>
<font color="green">Green Indicates Complete</font>
<font color="red">Red Indicates Incomplete</font><p></p>
	<table width="400" height="400" border="1px" cellspacing="2" cellpadding = "3">
		<tr><th>Name</th><th>Value</th></tr>
 
		<%if @sample.sample_bc.blank?%>
			<tr><td class="empty">Sample Barcode</td></td><td><%= @sample.sample_bc %></td>
		<%else%>
			<tr><td class="nempty">Sample Barcode</td></td><td><%= @sample.sample_bc %></td>
		<%end%>

		<%if @sample.date_collected.blank?%>
			<tr><td class="empty">Date Collected</td><td align=left><%= nice_date_display(@sample.date_collected) %></td></tr>
		<%else%>
			<tr><td class="nempty">Date Collected</td><td align=left><%= nice_date_display(@sample.date_collected) %></td></tr>
		<%end%>
        <%if @sample.collected_by.blank?%>
            <tr><td class="empty">Collected By</td></td><td><%= @sample.collected_by %></td>
        <%else%>
            <tr><td class="nempty">Collected By</td></td><td><%= @sample.collected_by %></td>
        <%end%>


		<%if @sample.chicken_country.blank?%>
			<tr><td class="empty">Chicken Country</td></td><td><%= @sample.chicken_country %></td>
		<%else%>
			<tr><td class="nempty">Chicken Country</td></td><td><%= @sample.chicken_country %></td>
		<%end%>

	  	<%if @sample.submitter_comments.blank?%>
			<tr><td class="empty" width=35%>Strain</td><td width=65% ><%= @sample.submitter_comments %></td></tr>
		<%else%>
			<tr><td class="nempty"width=35%>Strain</td><td width=65% ><%= @sample.submitter_comments %></td></tr>
		<%end%>

		<%if @sample.collector_comments.blank?%>
			<tr><td class="empty">Package Role</td></td><td><%= @sample.collector_comments%></td>
		<%else%>
			<tr><td class="nempty">Package Role</td></td><td><%= @sample.collector_comments%></td>
		<%end%>

	  	<%if @sample.chicken_declared_gender.blank?%>
			<tr><td class="empty" width=35%>Declared Gender</td><td width=65% ><%= @sample.chicken_declared_gender %></td></tr>
		<%else%>
			<tr><td class="nempty"width=35%>Declared Gender</td><td width=65% ><%= @sample.chicken_declared_gender %></td></tr>
		<%end%>

		<%if @sample.chicken_meat_part.blank?%>
			<tr><td class="empty">Meat Part</td><td align=left ><%= @sample.chicken_meat_part %></td></tr>
		<%else%>
			<tr><td class="nempty">Meat Part</td><td align=left ><%= @sample.chicken_meat_part %></td></tr>
		<%end%>

		<%if @sample.chicken_feathering.blank?%>
			<tr><td class="empty">Feathering</td></td><td><%= @sample.chicken_feathering %></td>
		<%else%>
			<tr><td class="nempty">Feathering</td></td><td><%= @sample.chicken_feathering %></td>
		<%end%>

		<%if @sample.chicken_ml_duplicate.blank?%>
			<tr><td class="empty">Maple Leaf Duplicate</td></td><td><%= @sample.chicken_ml_duplicate %></td>
		<%else%>
			<tr><td class="nempty">Maple Leaf Duplicate</td></td><td><%= @sample.chicken_ml_duplicate %></td>
		<%end%>

		<%if @sample.comments.blank?%>
			<tr><td class="empty">Additional Information</td><td ><%= @sample.comments %></td></tr>
		<%else%>
			<tr><td class="nempty">Additional Information</td><td ><%= @sample.comments %></td></tr>
		<%end%>

</table>
</table>